/*src\components\Footer\style.css*/

.footer-container {
  background-color: #fa2323cb;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  color: rgb(247, 247, 247);
  bottom: 0;
  position: fixed;
  width: 100%;
}