/*exercicio\src\components\Home\style.css*/

*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fa2323d2;
    border: 1px solid #FAC619;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.container input{
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    text-align: center;
}